
// TODO - needs renaming for layouts + templates (some sort of base class?)
.components-base-post-template-control__field {
	position:relative;
}

.components-base-post-template-control__button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
    margin: 0;
    min-height: revert;
    height: auto;
	color: var(--wp-admin-theme-color);

	&:hover {
		text-decoration: underline;
	}
}
